.App-logo {
  height: 35px;
}

.App-header {
  background-color: #1D428A;
  display: flex;
  padding: 10px 0px 10px 40px;
  box-shadow: -1px 0 5px 0 #888;
  margin-bottom: 70px;
}
  
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    
  }
}